<% include ./partials/header %>

<form action="/add" method="post">
    <input type="text" name="name" value="" placeholder="Nombre café">
    <input type="submit" name="enviar" value="enviar">    
</form>
<% include ./partials/footer %>
